@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --cor0: #eda3f7;
  --cor1: #e358f5;
  --cor2: #b346c2;
  --cor3: #6d2a75;
  --cor4: #6e3c75;

  --fonte-padrao: "Open Sans", sans-serif;
  --fonte-destaque: "Merienda", cursive;
}

body {
  background-image: url('../img/fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* HEADER */

#header {
  background-color: #e7aae4;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#header p {
  font-family: var(--fonte-destaque);
  margin-bottom: 0;
}

#logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 150px;
  margin-right: 15px;
}

/* NAVBAR */
#navbar {
  margin-top: 20px;
  border-top: 1px solid #626262;
}

#navbar a {
  font-weight: 600;
  width: 80px;
  color: #444;
  text-decoration: none;
}

#navbar a:hover {
  color: #850cd6;
}

/* SLIDER */

#carousel .carousel-item,
#carousel img {
    height: 500px;
    width: 100%;
}

#banners-container {
  padding: 0;
}

.carousel-caption {
  bottom: 5em;
  padding: 1em;
  left: 12%;
  right: 12%;
}

.carousel-caption h5 {
  font-size: 1.8em;
}

@media(min-width: 768px) {
  #carousel .carousel-item,
  #carousel img {
    height: 600px;
  }

  .carousel-caption {
    left: 23%;
    right: 23%;
  }

  .carousel-caption h5 {
    font-size: 4em;
  }
}


/* BODY */

.sobrenos {
  background-color: var(--cor1);
  padding: 20px;
  margin-bottom: 0;
}

/* CARDS */

#produtos {
  padding: 2em 0;
}

#produtos .row {
  margin: 0;
}

#produtos .col-md-3 {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
  background: linear-gradient(to right, var(--cor1), var(--cor3));
}

@media(min-width: 768px) {
  .title {
    text-align: center;
  }
}

.card {
  text-align: center;
  border-radius: 0;
}

.card img {
  width: 300px;
  height: 250px;
  margin: 2em auto;
}

.card .card-category {
  font-size: .8rem;
}

.card .card-text {
  margin: 2em 0;
  font-weight: bold;
}

/* FOOTER */
#footer {
  background-color: var(--cor0);
}

#footer-links-container {
  border-bottom: 1px solid #626262;
}

#footer .footer-column {
  padding: 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media(min-width: 795px) {
  #footer .footer-column {
    padding: 5em 2em;
  }
}

#footer-links-container h3 {
  margin-bottom: 25px;
  text-transform: uppercase;
}

#footer-links-container li {
  font-size: .8em;
  text-align: center;
}

@media(min-width: 795px) {
  #footer-links-container li {
    text-align: left;
  }
}

#footer-links-container li a {
  text-decoration: none;
}

#footer-links-container li a:hover {
  color: #C09578;
}

#footer-center {
  border-left: 1px solid #626262;
  border-right: 1px solid #626262;
}

#footer-center h3 {
  font-weight: 900;
}

#footer-center .store-phone {
  color: #C09578;
  font-weight: bold;
  font-size: 2rem;
  margin-top: -15px;
}

/* NEWS */
#social-container {
  margin: 20px auto;
}

#social-container i {
  font-size: 1.5em;
  margin: 10px;
  cursor: pointer;
  color: #626262;
  transition: .3s;
}

#social-container i:hover {
  color: #C09578;
}

/* COPY */
#copy-container {
  text-align: center;
  padding: 30px;
}